* {
    margin: 0;
    padding: 0;
    outline: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;

    -webkit-box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    box-sizing: border-box !important;
}

html,a,b,strong,p,h1,h2,h3,h4,h5,div,section {
    text-decoration: none;
    margin: 0;
    padding: 0;
}

/*::-webkit-input-placeholder{
   color: rgba(255, 255, 255, .15);
}

:-moz-placeholder{
   color: rgba(255, 255, 255, .15);
}

::-moz-placeholder {
   color: rgba(255, 255, 255, .15);
}

:-ms-input-placeholder {
   color: rgba(255, 255, 255, .15);
}*/

ul,li,button:focus {
    list-style: none;
    outline: none !important;
}