<section class="element a debug" style="display: none;">
    <div class="title">
        <i class="icon-close pull-right close-box" onclick="$( this ).parent().parent('.a').hide( 300, function() {$(this).remove();});"></i>
        #element_title#
    </div>
    #element_content#
</section>