<section class="element a element-bottom" style="display: none;">
    <div class="title">
        <i class="icon-close pull-right close-box" onclick="$(this).parent().parent('.a').slideUp().hide(500, function() {$(this).remove();});"></i>
        #element_title#
    </div>
    #elementContent#
</section>