<form>
    <label>
        <span>#size-default#</span>
        <input type="text" />
    </label>

    <label class="medium">
        <span>#size-medium#</span>
        <input type="text" />
    </label>
    <label class="medium">
        <span>#size-medium#</span>
        <input type="text" />
    </label>

    <label class="medium-small">
        <span>#size-medium-small#</span>
        <input type="text" />
    </label>
    <label class="medium-small">
        <span>#size-medium-small#</span>
        <input type="text" />
    </label>
    <label class="medium-small">
        <span>#size-medium-small#</span>
        <input type="text" />
    </label>

    <label class="small">
        <span>#size-small#</span>
        <input type="text" />
    </label>
    <label class="small">
        <span>#size-small#</span>
        <input type="text" />
    </label>
    <label class="small">
        <span>#size-small#</span>
        <input type="text" />
    </label>
    <label class="small">
        <span>#size-small#</span>
        <input type="text" />
    </label>
</form>